@import url(reset.scss);

$font: 'bangers';

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  margin-left: 3.5rem;
  margin-bottom: 1.5rem;
  bottom: 0;
  width: 100%;
  text-align: left;
  font-family: $font;
  letter-spacing: 1.5px;
  font-size: 15px;
}
