/** @format */

@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$font: 'bangers';

body {
  font-family: 'Poppins', sans-serif;
}

footer {
  position: fixed;
  margin-left: 3.5rem;
  margin-bottom: 1.5rem;
  bottom: 0;
  width: 100%;
  text-align: left;
  font-family: $font;
  letter-spacing: 1.5px;
  font-size: 15px;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 150px;
  height: auto;
}

.nav-link {
  flex: 1;
  text-align: center;
  font-size: 25px;
}

.separator {
  width: 88%;
  border: 1px solid grey;
}

.grid-container {
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.grid-item {
  width: min-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme-img {
  padding: 5px;
  width: 175px;
  border-radius: 15px;
  height: auto;
}

.meme-title {
  font-size: 18px;
  padding: 10px;
}

.comment-btn {
  padding: 5px;
  margin: 7px 10px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  box-shadow: 0 0 5px black;
}
//! popup

img {
  width: 40%;
  margin: 30px 20px 0 0;
}

.meme-popup {
  border: 2px solid black;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.close-btn {
  cursor: pointer;
  border: 0;
  background-color: white;
  font-size: 3rem;
  position: absolute;

}
.image-text {
  margin: 0;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
